:root {
    --shadow: hsl(0deg 0% 0% / 0.3);
    --primary: #ff9800;
    --primary-9: #e65100;
    --secondary: #00bcd4;
    --secondary-9: #00838f;

    --gradient-1: #f5af19;
    --gradient-2: #f12711;
}

* {
    padding: 0;
    margin: 0;
    font-family: Vazir !important;
    text-decoration: none;
    scroll-behavior: smooth;
}

a {
  text-decoration: none !important;
}

.banner {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  }
  .banner-1 {
    height: 100vh;
    background-image: 
    linear-gradient(45deg ,rgba(0,0,0,.75), rgba(0,0,0,.85)),url(../img/Software-Developer.jpg);
  }
  .banner-2 {
    height: 100vh;
    background-image: 
    linear-gradient(45deg ,rgba(0,0,0,.95), rgba(0,0,0,.85)),url(../img/open-source.png);
  }
  .banner-3 {
    background: linear-gradient(135deg,#141E30, #243B55);
    margin: 0;
    padding: 64px 0;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(3, auto);
    grid-auto-rows: 1fr;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    justify-content: center;
  }
@media screen and (max-width: 996px) {
  .banner-3 {
    grid-template-columns: repeat(2, auto);
  }
}
@media screen and (max-width: 664px) {
  .banner-3 {
    grid-template-columns: repeat(1, auto);
  }
}

.navbar {
    width: 100%;
    transition: .5s ease;
    z-index: 100;
}
.navbar-white {
    position: fixed;
    background-color: rgba(0,0,0,.75);
    transition: .5s ease;
}
.navbar-content {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    justify-items: center;
    padding: 16px 0;
    transition: .5s ease;
}
.logo {
    width: 0 20px;
}
.navbar-content ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}
.navbar-content ul li::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -3px;
    height: 3px;
    width: 0;
    background-color: white;
    border-radius: 1.5px;
    transition: .5s ease;
}
.navbar-content ul li:hover::after {
    width: 100%;
}
.navbar-content ul li a {
    text-decoration: none;
    color: white;

}
.navbar-content .icon {
    display: none;
}
@media screen and (max-width: 600px) {
    .navbar-content ul li:not(:first-child) {display: none;}
    .navbar-content .icon {
      float: right;
      display: block;
    }
}
@media screen and (max-width: 600px) {
    .responsive {
      transition: .5s ease;
      position: relative;
      height: 100vh;
    }
    /* .responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    } */
    .responsive ul li {
      float: none;
      display: block !important;
      text-align: right;
    }
  }

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1 {
    font-size: 50px;
    margin-top: 80px;
    background: -webkit-linear-gradient(-45deg , var(--gradient-1), var(--gradient-2));
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
    font-size: 16px;
}

.news {
    /* width: 100%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 32px 64px;
    justify-content: center;
    padding: 16px;
}
.news .new {
    background: #424242;
    padding: 16px;
    border-radius: 16px;
    color: #Fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: .5s ease;
    min-height: 300px;
}
.news .new:hover {
    background: #616161;
    transform: translateY(-10px);
}
.news .new h2 {
    font-size: 28px;
    margin: 8px 0px;
}
.news .new p {
    font-size: 12px;
    margin: 8px 0px;
}
.news .new img {
    max-width: 250px;
    border-radius: 8px;
}

.footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 32px 32px;
    background-image: 
    linear-gradient(45deg ,#ef9a9a, #ffcdd2);
    background-position: center;
    background-attachment: fixed;
}
.footer .copyright {
    padding: 32px 0;
    text-align: center;
    font-size: 16px;
}
.footer .copyright .compony-name {
    background: -webkit-linear-gradient(-45deg , var(--gradient-1), var(--gradient-2));
    font-weight: 900;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.footer .copyright {
    text-align: center;
}
.footer .items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 32px;
    padding: 32px 32px;
    width: 80%;
}
.footer .items ul {
    list-style: none;
}
.footer .items ul li a {
    list-style: none;
    color: var(--primary);
    transition: .5s ease;
}
.footer .items ul li a:hover {
    color: var(--primary-9);
}
.footer .items ul p {
    list-style: none;
    font-size: 16px;
    font-weight: 500;
}

.button-primary , .button-outline-primary, .button-secondary {
  cursor: pointer;
  text-align: center;
}

.button-primary, .button-secondary {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: white;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: .5s ease;
}
.button-secondary {
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
}
.button-primary {
  background-color: var(--primary);
  border: 2px solid var(--primary);
  }
  .button-secondary:hover {
  background-color: var(--secondary-9);
  border: 2px solid var(--secondary-9);
  }
  .button-primary:hover {
    background-color: var(--primary-9);
    border: 2px solid var(--primary-9);
}
.button-outline-primary {
  display: inline-block;
  border: 2px solid var(--primary-9);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 500;
  color: #fff;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: .5s ease;
}
.button-outline-primary:hover {
    background-color: var(--primary-9); 
}

.button-primary:hover , .button-secondary:hover, .button-outline-primary:hover {
  color: white;
  box-shadow: 0px 8px 16px var(--shadow);
  text-shadow: 0px 2px 4px var(--shadow);
  transform: translateY(-5px);
  
}

.card-title {
  font-size: 24px;
  font-weight: 900;
}

.card-img {
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 8px;
  margin-bottom: 16px;
}
.card-img img {
  border-radius: 8px;
  width: 100%;
}
.card-content {
  margin-bottom: 8px;
}
.card-balancer {
  margin-bottom: auto;
}

.card {
  background-color: hsl(0, 0%, 95%);
  border-radius: 16px;
  box-shadow:
      0 8px 16px hsl(0deg 0% 0% / 0.3);
  margin: 16px;
  padding: 16px;
  overflow: hidden;
  width: 300px;
  transition: .5s ease;
}
.card:hover {
  background-color: hsl(0, 0%, 90%);
  box-shadow:
    0 16px 32px hsl(0deg 0% 0% / 0.3);
  transform: translateY(-10px);
}
.card .button-primary {
  width: 100%;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
